.root {
    -fx-background-color: rgb(11, 46, 36);
}

#title_bar_items__min {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, BLUE, 100, 0.0, 0.0, 0.0);
}
#title_bar_items__max {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, BLUEVIOLET, 100, 0.0, 0.0, 0.0);
}
#title_bar_items__close {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, RED, 100, 0.0, 0.0, 0.0);
}

#menu_circle {
    -fx-opacity: 0.5;
    -fx-fill: rgb(227, 186, 2);
}
#menu_plus_vertical {
    -fx-fill: rgba(0.1, 0.1, 0.1, 0.5);
}
#menu_plus_horizontal {
    -fx-fill: rgba(0.1, 0.1, 0.1, 0.5);
}

#menu_circle {
    -fx-focus-traversable: true;
}