.root {
    -fx-background-color: rgb(255, 234, 244);
}

#title_bar_items__min {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, BLUE, 100, 0.0, 0.0, 0.0);
}
#title_bar_items__max {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, BLUEVIOLET, 100, 0.0, 0.0, 0.0);
}
#title_bar_items__close {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, RED, 100, 0.0, 0.0, 0.0);
}

#card_adder_circle {
    -fx-opacity: 0.5;
    -fx-fill: rgb(143, 120, 107);
}
#card_adder_plus_vertical {
    -fx-fill: rgba(0.1, 0.1, 0.1, 0.5);
}
#card_adder_plus_horizontal {
    -fx-fill: rgba(0.1, 0.1, 0.1, 0.5);
}

#cardViewAdder {
    -fx-focus-traversable: true;
}